APP_PORT=8080
POSTGRES_DSN=host=localhost user=postgres password=postgres dbname=sipi port=5432 sslmode=disable TimeZone=UTC
JWT_SECRET=change-me-super-secret
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_HOURS=720
